
<form method="POST" action="/register">
    <h1>Register</h1>
    {{#if message}}
        <div>{{message}}</div>
    {{/if}}
    <label for="email"><b>Email</b></label>
    <input type="email" name="email" required>

    <label for="username"><b>Username</b></label>
    <input type="text" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" required>

    <label for="passwordRepeat"><b>Repeat Password</b></label>
    <input type="password" name="passwordRepeat" required>

    <button type="submit">Register</button>
</form>
